* {
    padding: 0;
    margin: 0;
  
}


@font-face {
    font-family: the skinny;
    src: url(./assets/TheSkinny.otf);
}

@font-face {
    font-family: the skinny-bold;
    src: url(./assets/TheSkinny-bold.otf);
}


body{
    background-color: #EDE7E7;
}
.top--nav{
    height: 8vh;
    background-image: linear-gradient(#302A2A, #5F4433);
}
.top--nav--tekst{
text-align: center;

}

.top--nav--link{
    text-decoration: none;
    color: #EDE7E7;
    font-family: the skinny;

}

.top--billede{
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/Group\ 10.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 8vh;
    background-position-x: center;
}

.landing--video{

}

.landing--beskrivelse{

}

.landing--tider{

}

.footer{

    background: linear-gradient(rgb(24, 2, 2),black);
    
}