* {
    padding: 0;
    margin: 0;
  
}
@font-face {
    font-family: leelawadee UI;
    src: url(./assets/LEELAWUI.TTF);
}

@font-face {
    font-family: leelawadee-bold;
    src: url(./assets/LEELAUIB.TTF);
}

body{
    background-color: #F9F8F2;
}

/* logo */

/* video */

/* beskrivelse */

/* book */

/* footer */