* {
    padding: 0;
    margin: 0;
  
}


@font-face {
    font-family: the skinny;
    src: url(./assets/TheSkinny.otf);
}

@font-face {
    font-family: the skinny-bold;
    src: url(./assets/TheSkinny-bold.otf);
}


body{
    background-color: #EDE7E7;
}

  
.top--nav{
    height: 8vh;
    background-image: linear-gradient(#302A2A, #5F4433);
    overflow: hidden;
    position: relative;
}
/* .top--nav--tekst{
text-align: center;
padding-top:2vh;
padding-bottom: 2vh;
} */
.top--nav #mylinks{
    display: none;

}

/* Style navigation menu links */
.top--nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
.top--nav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
 
  
.top--nav--title{
    text-decoration: none;
    color: #EDE7E7;
    font-family: the skinny;

}

.top--billede{
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/Group\ 10.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 8vh;
    background-position-x: center;
}

.landing--video{

}

.landing--beskrivelse{

}

.landing--tider{

}

.footer{

    background: linear-gradient(rgb(24, 2, 2),black);
    
}